* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: #A9907E;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

div.card {
    padding: 70px;
    position: relative;
    color: lightskyblue;
  
}

p {
    color: black;
    font-size: 1.5em;
    text-align: center;
}

button {
    outline:none;
    background-color: rgba(192, 225, 192, 0.929);
    color: black;
    font-size: 1.5em;

}

h1 {
    text-align: center;
}

ul {
    list-style: 75px;

}


.container navbar-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-self: start;

}


.quiz-intro, main {
    margin-bottom: 15vh;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #675D50;
    display: none;
    display: block;
}

li {
    padding: 10px;
    margin: 10px;
    font-size: 23px;
    background-color: purple;
}
  
#indicator {
    font-style: italic;
    font-size: 60px;
}
  
.highscore-element {
    font-size: 18px;
    text-align: left;
    color: white;
    padding: 10px;
    margin: 10px;
    padding-left: 30px;
    background-color: purple;

}